:root{
    --primary-color: #333;
    --occupied-seat: rgb(216, 50, 50);
    --selected-seat: rgb(105, 172, 194);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
}

.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container > .movie-book-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container > h2{
    font-size: 2rem;
    color: white;
    margin: 3rem 1rem 2rem 1rem;
}

.main-container > .movie-book-container > .movie-select{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
}

.main-container > .movie-book-container > .movie-select > label{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.main-container > .movie-book-container > .movie-select > #movies{
    width: 230px;
    outline: 0px;
}

.main-container > .movie-book-container > .seat-info{
    display: flex;
}

.main-container > .movie-book-container > .seat-info > .available, .occupied, .selected{
    margin: 2rem 1rem 1rem 1rem;
    height: 1.3rem;
    width: 1.3rem;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-container > .movie-book-container > .seat-info > span{
    margin-top: 2.2rem;
    color: white;
}


.occupied{
    background-color: var(--occupied-seat) !important;
}

.selected{
    background-color: var(--selected-seat) !important;
}

.main-container > .movie-book-container > .screen-container{
    perspective: 500px;
}

.main-container > .movie-book-container > .screen-container > .movie-screen{
    width: 380px;
    height: 100px;
    background-color: white;
    margin: 0rem 1rem 2.5rem 1rem;
    transform: rotateX(-45deg);
    box-shadow: 3px 3px 5px rgb(255, 255, 255, 0.7), -3px 0px 5px rgb(255, 255, 255, 0.7);
}

.main-container > .movie-book-container > .seats-container > .seats-row {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-container > .movie-book-container > .seats-container > .seats-row > .seat{
    width: 1.3rem;
    height: 1.3rem;
    background-color: white;
    margin: 0.4rem 0.3rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.main-container > .displayPrice{
    color: rgb(0, 0, 0);
    width: 380px;
    height: 20px;
    margin-top: 2rem;
    font-size: 18p7;
}

.displayPrice > h3 > span{
    color: white;
}