:root{
    --primary-color: orangered;
    --lightgrey: lightgrey;
    --reset-color: rgb(230, 74, 74);
    --operator-color: rgb(224, 87, 37);
    --operator-dark-color: rgb(202, 76, 30);
    --reset-dark-color: rgb(218, 50, 50);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    overflow: hidden;
}

#header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-shadow: 2px 2px var(--primary-color);
}

#header #heading{
    font-size: 3.5rem;
}

#header > p{
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container > .calc-container .row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.3rem 0rem;
}

.container > .calc-container .display > input{
    width: 100%;
    height: 2.5rem;
    outline: none;
    font-size: 1.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.container > .calc-container .row > button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
    margin: 0rem 0.2rem;
} 

.container > .calc-container .row > button:hover{
    background-color: var(--lightgrey);
    cursor: pointer;
} 

.container > .calc-container > .row > .operator{
    background-color: var(--operator-color);
    color: white;
}

.container > .calc-container > .row > .operator:hover{
    background-color: var(--operator-dark-color);
    color: white;
}

.container > .calc-container > .row > .reset{
    background-color: var(--reset-color);
    color: white;
}

.container > .calc-container > .row > .reset:hover{
    background-color: var(--reset-dark-color);
    color: white;
}