@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    background-color: black;
}

h1
{
    color: lightsalmon;
}

.img-container
{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.img-item
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    color: white;
    border-radius: 20px;
    margin: 10px;
    flex: 0.6;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: 1.5s ease-in;
}

.img-item h3
{
    color: whitesmoke;
    font-weight: 10;
    padding-left: 5px;
    opacity: 0;
}

.img-item.active
{
    flex: 10;
}

.img-item.active h3
{
    opacity: 1;
}